.description {
    margin: 1rem 15rem;
    margin-top: 8rem;
    h1 {
        font-size: 2.4rem;
        font-weight: 200;
    }
    h2{
        font-size: 1.5rem;
        font-weight: 200;
    }
    p,
    ul {
        margin: 2rem 0;
        margin-left: 1rem;
        font-size: 1.2rem;
        font-weight: 300;
        margin-bottom: 4rem;
        &:last-child,&.nomargin{
            margin-bottom: 0;
        }
    }
}