<!--Make the class toggleable through angular-->
<div class="fixed">
  <nav *ngIf="navVis[0]" id="scope">
    <p *ngFor="let p of navs[0]">{{p}}</p>
  </nav>
  <nav *ngIf="navVis[1]" id="concepts">
    <p *ngFor="let p of navs[1]">{{p}}</p>
  </nav>
  <nav *ngIf="navVis[2]" id="unit3">
    <p *ngFor="let p of navs[2]">{{p}}</p>
  </nav>
  <nav *ngIf="navVis[3]" id="unit4">
    <p *ngFor="let p of navs[3]">{{p}}</p>
  </nav>
  <nav *ngIf="navVis[4]" id="assessments">
    <p *ngFor="let p of navs[4]">{{p}}</p>
  </nav>
  <nav *ngIf="navVis[5]" id="glossary">
    <p *ngFor="let p of navs[5]">{{p}}</p>
  </nav>
  <nav *ngIf="navVis[6]" id="psm">
    <p *ngFor="let p of navs[6]">{{p}}</p>
  </nav>
</div>
<section class="page" id="landing" #landing>
  <h1>VCE Software Development - Study Design</h1>
</section>
<section class="page" id="scope" #scope *ngIf="setup">
  <nav *ngIf="!navVis[0]">
    <p *ngFor="let p of navs[0]">{{p}}</p>
  </nav>
  <div class="description">
    <p>VCE Computing focuses on the application of a problem-solving methodology, and strategies and techniques for managing
      information systems in a range of contexts, to create digital solutions that meet specific needs. The study examines
      the attributes of each component of an information system including people, processes, data and digital systems (hardware,
      software, networks), and how their interrelationships affect the types and quality of digital solutions.
      <br/><br/> VCE Computing is underpinned by four key concepts: approaches to problem solving, data and information,
      digital systems and interactions and impact. Together these form the conceptual framework of the study and the organising
      elements for its key knowledge.
      <br/><br/>An important component of the study is the opportunity for students to develop social capital, that is, the
      shared understanding in social networks that enable cooperation and a cooperative approach to problem solving.
      <br/><br/> VCE Computing provides students with opportunities to acquire and apply knowledge and skills to use digital
      systems efficiently and effectively when creating digital solutions both individually and as part of a network. Students
      investigate legal requirements and ethical responsibilities that individuals and organisations have with respect to
      the security and integrity of data. Through a structured approach to problem solving, incorporating computational,
      design and systems thinking, students are equipped to orient themselves towards the future, with an awareness of the
      technical and societal implications of digital systems.
    </p>
  </div>
</section>
<section class="page" id="concepts" #concepts *ngIf="setup">
  <nav *ngIf="!navVis[1]">
    <p *ngFor="let p of navs[1]">{{p}}</p>
  </nav>
  <div class="description">
    <h1>Approaches to problem solving</h1>
    <p>Approaches to problem solving focuses on ways of creating solutions and thinking about problems, opportunities and needs.
      A detailed approach to problem solving is explained in the stages and activities of the problem-solving methodology.
      Overall approaches to problem solving involve computational, design and systems thinking.
    </p>
    <h1>Data and information</h1>
    <p>Data and information focuses on the nature of data and how data and information can be acquired, structured, represented
      and interpreted to extract meaning. This process of preparing data and information appropriately is the precursor to
      creating solutions that meet intended needs.
    </p>
    <h1>Digital systems</h1>
    <p>
      Digital systems focuses on the functions and technical underpinnings of hardware and software components as well as networks
      (wireless, wired and mobile) and the internet, including protocols and styles of modern application architecture such
      as rich client, mobile and internet. This concept also addresses ways in which hardware and software are used to manage
      and control access to data and its transfer between digital systems. Digital systems form one of the components of
      an information system along with people, data and processes.
    </p>
    <h1>Interactions and impact</h1>
    <p>
      Interactions and impact focuses on the relationships within and between information systems and the effects of these in achieving
      economic and social goals. Relationships are considered from three perspectives: how people interact with other people
      when using digital systems for communication and collaboration; how people interact with, or respond to, different
      types of digital systems; and how information systems interact with other information systems. This concept also considers
      the impact of these relationships on meeting current and future needs of individuals, organisations and society, including
      the ownership and privacy of data and information, and personal safety.
      <br/> <br/> Within an area of study, the key knowledge is organised under the headings of relevant concepts; however,
      not all concepts may be addressed in any one area of study.
    </p>
  </div>
</section>
<section class="page" id="unit3" #unit3 *ngIf="setup">
  <nav *ngIf="!navVis[2]">
    <p *ngFor="let p of navs[2]">{{p}}</p>
  </nav>
  <div class="description">
    <h1>Area of study 1 - Programming practice</h1>
    <ul>
      <li>Focus on design and development stages of the problem-solving methodology</li>
      <li>Analyse design tools to form future requirements</li>
      <li>Coding, testing, and documenting (development stage)</li>
      <li>Interpret given designs and create working modules (not necessarily complete solutions, but rather focus on limited
        features of the programming language)</li>
      <li>Should allow testing to allow for development of the complete solution in Unit 4.</li>
    </ul>
    <h1>Outcome 1</h1>
    <h2>Outcome 1 of Unit 3 focuses on these topics:</h2>
    <ul>
      <li>Data and information</li>
      <li>Approaches to problem solving</li>
      <li>And also key skills related to programming practice</li>
    </ul>
    <h1>Area of study 2 - Analysis and design</h1>
    <ul>
      <li>Construct the framework for the creation of a software solution that meets a need or opportunity determined by individual
        students. (first part of the project)</li>
      <li>Analyse a real-world need or opportunity in terms of solution requirements, constraints and scope (analysis stage of
        problem-solving methodology) and present it as a software requirements specification</li>
      <li>Generate two or three different design ideas for creating their solution (briefly states, could include annotations
        to indicate key functions and layouts)</li>
      <li>Developing and applying evaluation criteria to select the preferred design idea (fully detailed, addressing both the
        functionality and user interface of the solution). Will be used in Unit 4 to evaluate the quality of the solution.</li>
      <li>Prepare a project plan, taking into account all stages of the problem-solving methodology (do not have to use dedicated
        project-management software). Students determine the milestones of their project</li>
    </ul>
    <h1>Outcome 2</h1>
    <h2>Outcome 2 of Unit 3 focuses on these topics:</h2>
    <ul>
      <li>Data and information</li>
      <li>Approaches to problem solving</li>
      <li>Digital systems</li>
      <li>Interactions and impact</li>
      <li>And also key skills related to analysis and design</li>
    </ul>
  </div>
</section>
<section class="page" id="unit4" #unit4 *ngIf="setup">
  <nav *ngIf="!navVis[3]">
    <p *ngFor="let p of navs[3]">{{p}}</p>
  </nav>
  <div class="description">
    <h1>Area of study 1 - Software solutions</h1>
    <ul>
      <li>Using the programing language studied in Unit 3 to transform the design they prepared in Unit 3, Outcome 2 into a software
        solution that meets specific needs or opportunities</li>
      <li>Prepare a usability test that addresses the core features of their solution. The test must be undertaken by at least
        two other ‘users’and the results recorded. Students can make any necessary adjustments to their solution based on
        these results.</li>
      <li>Coding, testing, and documenting (development stage)</li>
      <li>Interpret given designs and create working modules (not necessarily complete solutions, but rather focus on limited
        features of the programming language)</li>
      <li>Should allow testing to allow for development of the complete solution in Unit 4.</li>
    </ul>
    <h1>Outcome 1</h1>
    <h2>Outcome 1 of Unit 4 focuses on these topics:</h2>
    <ul>
      <li>Data and information</li>
      <li>Digital systems</li>
      <li>Approaches to problem solving</li>
      <li>And also key skills related to software solutions</li>
    </ul>
    <h1>Area of study 2 - Interactions and impact</h1>
    <ul>
      <li>apply systems thinking skills when examining information systems that share data</li>
      <li>develop knowledge of factors that influence the integrity of data and consider processes user within information systems
        to manage the storage, communication and disposal of data</li>
      <li>investigate the capabilities of information systems operating in a networked environment and how these systems can
        be secured to enhance the integrity of data</li>
      <li>examine the importance of applying technical protocols when interacting with information systems and the consequences
        of violating these protocols</li>
    </ul>
    <h1>Outcome 2</h1>
    <h2>Outcome 2 of Unit 4 focuses on these topics:</h2>
    <ul>
      <li>Interactions and impact</li>
      <li>Digital systems</li>
      <li>And also key skills related to Interactions and impact</li>
    </ul>
  </div>
</section>
<section class="page" id="assessments" #assessments *ngIf="setup">
  <nav *ngIf="!navVis[4]">
    <p *ngFor="let p of navs[4]">{{p}}</p>
  </nav>
  <div class="description">
    <h1>Unit 3</h1>
    <p>Unit 3 assessments contribute to 10% of the final study score.<br/>There's only one assessment in Unit 3 - "In response
      to teacher-provided designs, create working modules to meet specific needs "
    </p>
    <h1>Unit 4</h1>
    <p>Unit 4 assessments contribute to 10% of the final study score.<br/>There's only one assessment in Unit 4 - "In response
      to a case study, one of the following: a written report or an annotated visual report"
    </p>
    <h1>School-assessed Task</h1>
    <p class="nomargin">
      The SAT contrubtes 30% to the final study score and consists of multiple parts:
    </p>
    <ul>
      <li>An analysis that defines the requirements, constraints and scope of a solution in the form of a software requirements
        specification </li>
      <li>A folio of two or three alternative design ideas and the detailed design specifications of the preferred design</li>
      <li>A project plan (Gantt chart) indicating times, resources and tasks.</li>
      <li>A software solution that meets the software requirements specification and the results of the usability test</li>
      <li>An assessment of the extent to which the project plan (Gantt chart) assisted in monitoring project progress in a written
        report or an annotated visual plan</li>
    </ul>
    <h1>End of the year examination</h1>
    <p>The end of the year examination for Software Development will be some time between 1/11/17 and 24/11/17 and will contribute
      50% to the study score</p>
  </div>
</section>
<section class="page" id="glossary" #glossary *ngIf="setup">
  <nav *ngIf="!navVis[5]">
    <p *ngFor="let p of navs[5]">{{p}}</p>
  </nav>
  <div class="description">
    <h1>Glossary</h1>
    <div class="card-box">
      <app-card class="card" *ngFor="let definition of definitions" [label]="definition.label" [value]="definition.value"></app-card>
    </div>
  </div>
</section>
<section class="page" id="psm" #psm *ngIf="setup">
  <nav *ngIf="!navVis[6]">
    <p *ngFor="let p of navs[6]">{{p}}</p>
  </nav>
 <a class="psm" href="http://antonsidorov.github.io/it-psm">PSM</a>
</section>
<!--<section class="page" id="analysis" #analysis *ngIf="setup">
  <nav *ngIf="!navVis[0]">
    <p>Analysis:</p>
    <p>Solution requirements</p>
    <p>Solution constraints</p>
    <p>Scope of solution</p>
  </nav>
  <div class="description">
    <h1>Determining the solution requirements</h1>
    <p>What output is the solution to provide? What data is needed to produce the output? What functions must the solution provide?
      <br/><br/> These requirements can be classified as being functional, that is, what the solution is required to do,
      and non-functional, which describes the attributes the solution should possess including useability, reliability, portability,
      robustness, maintainability.
      <br/><br/> Tools to assist in determining the solution requirements include context diagrams, data flow diagrams and
      use cases.
    </p>
    <h1>Identifying the constraints on the solution</h1>
    <p>
      What conditions need to be considered when designing a solution? Typical constraints include economic, such as cost and time;
      technical, such as speed of processing, capacity, availability of equipment, compatibility and security; social, such
      as level of expertise of users; legal, such as ownership and privacy of data requirements; and useability, such as
      usefulness and ease of use of solutions.
    </p>
    <h1>Determining the scope of the solution</h1>
    <p>Determining the scope of the solution. The scope states the boundaries or parameters of the solution. It identifies the
      area of interest or what aspects of the problem will and will not be addressed by the solution.
    </p>
  </div>
</section>
<section class="page" id="design" #design *ngIf="setup">
  <nav *ngIf="!navVis[1]">
    <p>Design:</p>
    <p>Solution design</p>
    <p>Evaluation criteria</p>
  </nav>
  <div class="description">
    <h1>Planning how the solution will function and its appearance.</h1>
    <p>The solution design typically involves identifying what specific data is required and how the data will be named, structured,
      validated and manipulated. Typical design tools for this purpose include data dictionaries and data structure diagrams,
      input-process-output (IPO) charts, flowcharts, pseudocode, object descriptions. Solution design also involves, where
      appropriate, showing how the various components of a solution relate to one another, for example web pages, style sheets,
      scripts; queries, forms, reports; modules, procedures, methods, functions. Typical design tools used to show relationships
      include storyboards, site maps, entity-relationship diagrams, data flow diagrams, structure charts, hierarchy charts,
      and context diagrams.
      <br/> <br/>Planning the solution also involves determining its appearance, including, where appropriate, the user interface.
      This typically involves identifying the position and size of text, images and graphics, font types, colours and text
      enhancements. Design tools used for this purpose include layout diagrams, annotated diagrams/mock ups.
    </p>
    <h1>Determining the evaluation criteria.</h1>
    <p>
      What measures will be used to judge whether or not the solution meets the requirements? These criteria should arise from
      the solution requirements identified in the analysis stage.
    </p>
  </div>
</section>
<section class="page" id="development" #development *ngIf="setup">
  <nav *ngIf="!navVis[2]">
    <p>Development:</p>
    <p>Manipulation</p>
    <p>Validation</p>
    <p>Testing</p>
    <p>Documentation</p>
  </nav>
  <div class="description">
    <h1>Electronically ‘building’ or creating the solution following initial designs.</h1>
    <p>It may, however, warrant modifying initial designs in order to create a working solution.</p>
    <h1>Validation to check for the reasonableness of data being input.</h1>
    <p>
      Validation can be both manual and electronic. Proofreading is a manual technique and it occurs when a human scans the data
      for errors. Electronic validation occurs when the validation process is built into the solution. Its effectiveness
      is determined through the testing activity.
    </p>
    <h1>Testing whether the solution does what it was intended to do. This activity typically involves:</h1>
    <ul>
      <li>establishing what tests will be conducted</li>
      <li>determining what test data will be used</li>
      <li>determining expected results</li>
      <li>conducting the test</li>
      <li>recording the actual results</li>
      <li>correcting any identified errors</li>
    </ul>
    <h1>Writing internal and user documentation, including within the user interface, to support the functioning and use of the
      solution.
    </h1>
  </div>
</section>
<section class="page" id="evaluation" #evaluation *ngIf="setup">
  <nav *ngIf="!navVis[3]">
    <p>Evaluation:</p>
    <p>Strategy</p>
    <p>Report</p>
  </nav>
  <div class="description">
    <h1>Determining a strategy for finding out the extent to which the solution meets the required needs of the user.</h1>
    <p>Typically this occurs after the solution has been developed. Usually an evaluation strategy would include specifying
      a timeline, outlining what data will be collected and by what methods and techniques, and how the data relates to the
      criteria that were generated in the design stage.
    </p>
    <h1>Reporting on the extent to which the solution meets the requirements of the user.</h1>
    <p>
      This usually takes place after the solution has been used by the user/client and is based on the criteria generated in the
      design stage.
    </p>
  </div>
</section>-->
