/* You can add global styles to this file, and also import other style files */

@import '_settings.scss';
@import '../node_modules/ng-antui/dist/src/scss/antui.scss';
app-root {
    display: block;
}

app-nav {
    display: block;
}

body {
    overflow-x: hidden;
    line-height: 2;
}

.page {
    width: 100vw;
    //105 so that there's a bit of scrolling room before the next nav
    min-height: 150vh;
    //If we need unique styles
    position: relative;
    display: -webkit-box;
    &:last-of-type,
    &:first-of-type {
        min-height: 100vh;
    }
    &#landing {
        font-size: 4rem;
        display: flex;
        h1 {
            margin: auto;
            font-weight: 100;
        }
    }
}

@for $i from 1 through length($names) {
    &##{nth($names,$i)} nav,
    nav##{nth($names, $i)} {
        background-color: nth($colors, $i);
    }
}

nav {
    width: 100vw;
    height: 4rem;
    color: white;
    z-index: 1;
    font-size: 0;
    p {
        display: inline-block;
        height: 4rem;
        vertical-align: middle;
        line-height: 4rem;
        margin-left: 5vmin;
        font-size: 1.25rem;
        color: inherit;
        &:first-of-type {
            font-size: 1.75rem;
            margin-left: 15rem;
        }
    }
    .fixed & {
        position: fixed;
        top: 0;
        left: 0;
    }
    .page & {
        position: absolute;
        top: 0;
        left: 0;
    }
}

ul>li {
    &::first-letter {
        text-transform: capitalize;
    }
    display: list-item;
    margin: 1rem;
    margin-left: 3rem;
}

.card {
    display: inline-block;
    width: 18.725rem;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 1rem;
    overflow: hidden;
    line-height: 1.375rem;
    margin: 1rem .5rem;
    &-label {
        background: #ddd;
        width: 100%;
        text-align: center;
        color: black;
        height: 2rem;
        line-height: 2rem;
    }
    &-value {
        height: calc(100% - 3rem);
        padding: .5rem 1.5rem;
    }
    &-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

a.psm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    height: 10rem;
    width: 10rem;
    text-align: center;
    vertical-align: middle;
    background-color: #bb6bd9;
    line-height: 10rem;
    border-radius: 9000rem;
    font-size: 2.4rem;
    animation: psm 8s ease-in-out infinite;
    &:hover{
        width: 14rem;
        height: 14rem;
        line-height: 14rem;
    }
}

@keyframes psm {
    25% {
        background-color: #09c;
    }
    50% {
        background-color: #00e25e;
    }
    75% {
        background-color: #fbc02d;
    }
}